{% extends 'base.html' %}
{% load static %}
{% block banner %}
<!-- Banner -->
    <section id="banner">
        <video autoplay loop muted playsinline src="{% static 'images/background.mp4' %}"></video>
    </section>
{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
{% for category in categories %}
{% if category.products.all %}
  <div class="col">
    <div class="card h-100">
      <img src="{{ category.image.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <a href="{{ category.get_absolute_url }}" style="color:black; text-decoration:none"><h1 class="card-title">{{category.title}}</h1></a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Amount of products: {{category.products.count}}</small>
      </div>
    </div>
  </div>

{% endif %}
{% endfor %}
</div>
{% endblock %}

{% block staff %}
<!-- Testimonials -->
    <section class="wrapper">
        <div class="inner">
            <header class="special">
                <h2>Our team</h2>
            </header>
            <div class="testimonials">
                <section>
                    <div class="content">
                        <blockquote>
                            <p>Anastasiya</p>
                        </blockquote>
                        <div class="author">
                            <div class="image">
                                <img src="{% static 'images/nastya3.jpg' %}" alt="" />
                            </div>
                            <p class="credit">- <strong>Anastasiya Tuz</strong>
                            <br>
                            <a href="https://makers.kg/" style="color:black">Makers Bootcamp</a></p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <blockquote>
                            <p>Ajar</p>
                        </blockquote>
                        <div class="author">
                            <div class="image">
                                <img src="{% static 'images/ajar.jpg' %}" alt="" />
                            </div>
                            <p class="credit">- <strong>Ajar</strong>
                            <br>
                            <a href="https://makers.kg/" style="color:black">Makers Bootcamp</a></p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <blockquote>
                            <p>Erzhan</p>
                        </blockquote>
                        <div class="author">
                            <div class="image">
                                <img src="{% static 'images/erzhan.jpg' %}" alt="" />
                            </div>
                            <p class="credit">- <strong>Erzhan</strong>
                            <br>
                            <a href="https://makers.kg/" style="color:black">Makers Bootcamp</a></p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
{% endblock %}